<div>
    <h1> This is cover View</h1>
    <h2>
        <%= data.title %>
    </h2>
    <label>
        <%= data.price %>
    </label>
    <label>
        <%= data.company %>
    </label>
    <label>
        <%= data.description %>
    </label>
    <label>
        <%= data.model %>
    </label>
    <img style="height:100px;width: 100px"  src= <%= data.image %> >
</div>